html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #0d0d0e;
   } 

   .background {
       /*background: #d8d8d8; */
       background: rgba(216, 216, 216, 0.7);

   }

   header{
       text-align: center;
       display: flex;
       flex-direction: column;
   }

   header h1{
       margin: 0;
       padding: 10px;
   }

   li{
       list-style: none;
   }

   ul{
       padding: 0;
   }

   .doodle-image{
       background: url(../images/cloud-5994508_1920.jpg) no-repeat center center fixed;
       min-height: 100vh;
       background-size: cover;
       display: flex;
       align-items: center;
       justify-content: center;
   }
   .doodle-text{
       text-align: center;
       font-size: 1.5em;
       padding: 1em;
       border-radius: 10px;
   }

   a{
       text-decoration: none;
       color: #0f1111;
   }

   .wrapper {
       display: flex;
       flex-direction: row;
   }
   article, .sideabar-widget {
       padding: 15px;
       margin: 15px 0; 
   }

   article > header {
       background: #d8d8d8
   }
   img {
       width: 100%;
   }

   i{
       margin: 0 5px;
   }

   a:hover {
       color: darkcyan;
   }

   td:nth-child(2) {
       padding-left: 30px;
   }


   @media(min-width: 1000px){
       max-width: 1600px;
       margin: 0 auto;
   }
   header{
       flex-direction: column;
   }

   header li {
       display: inline-block;
   }

   header h1, header nav{
       flex: 1;

   } 
   header h1{
       text-align: left;
    }
    header nav{
        text-align: right;
    }

    /*blog*/
    .wrapper{
        flex-direction: row;
    }
    main {
        flex: 3;
    }

    aside{
        flex: 1;
        margin-left: 15px;
    }

    article > header {
        justify-content: space-around;
    }



   
